# Mailmap canonical author mappings
marituMegersa <maalifdhume@gmail.com> Habtamu Feyera <habtamufeyera95@gmail.com>
marituMegersa <maalifdhume@gmail.com> HabtamuFeyera <habtamufeyera95@gmail.com>
marituMegersa <maalifdhume@gmail.com> <habtamufeyera95@gmail.com>
